services:
  db:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=book_social_network'
      - 'POSTGRES_PASSWORD=password'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'